<ng-template #contenido let-modal>
    <div class="modal-header">
        <button class="close" (click)="modal.dismiss()">X</button>
    </div>
    <div class="modal-body">kdfkdsjfkjdskf</div>
    <div class="modal-footer">
        <button class="btn btn-success" (click)="modal.close()"></button>
    </div>
</ng-template>
<div class="contenedor">
    <div class="container aside-centros">
        <aside>
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let centro of centros" 
                    [ngClass]="{'active':centro.id===centroSelect}">
                        <button (click)="listPerson(centro.id)">{{centro.nombre}}</button>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
    <!--##########################################################################-->
    <div class="container cont-central">
        <div class="card">
            <div class="card-header">
                <h3>Personas</h3>
                <button class="btn btn-danger" (click)="modal.open(contenido)">Agregar</button>
                <button class="buscar">Buscar</button>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>LEGAJO</th>
                            <th>NOMBRES</th>
                            <th>APELLIDOS</th>
                            <th>HORARIO</th>
                            <th>FUNCION</th>
                            <th>DOMICILIO</th>
                            <th>OFICINA</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let persona of personas" class="text-center">
                            <td>{{persona.legajo}}</td>
                            <td>{{persona.nombre}}</td>
                            <td>{{persona.apellidos}}</td>
                            <td>{{persona.horario}}</td>
                            <td>{{persona.funcion}}</td>
                            <td>{{persona.domicilio}}</td>
                            <td>{{persona.oficina}}</td>
                            <td>
                <!--            <button (click)="Editar(persona)" class="btn btn-warning">Editar</button> -->
                                <button (click)="editarPersona()" class="btn btn-warning">Editar</button>
                                <button (click)="borrarPersona()" class="btn btn-danger">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--###################################################################-->
</div>
