* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;

}
.container1 {
    width: 200px;
    background-color: rgb(236, 235, 235);
    border: 0;
}
.container2 {
    display: block;
    width: 200px;
    height: 500px;
/*   background-color: rgb(199, 241, 209); */
    border: 0;
}
