.modal-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(70, 70, 70, 0.5);
}
.activado {
    position: fixed;
    z-index: 10;
    opacity: 1;

}
.desactivado {
    position: fixed;
    z-index: -1;
    opacity: 0;
}
.contenedorModal {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    background-color: rgb(245, 243, 241); 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.header {
    display: flex;
    flex-direction: row;
}
.header div:nth-child(1){
/*    background-color: brown; */
    width: 50%;    
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}
.header div:nth-child(2){
/*    background-color: rgb(63, 165, 42); */
    display: flex;
    justify-content: flex-end;
    width: 50%;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}
div .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}